<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="add-company" class="nav-link" routerLinkActive="active">Add Company</a>
      </li>
      <li class="nav-item">
          <a routerLink="stock-data" class="nav-link" routerLinkActive="active">Stock Data</a>
      </li>
      <li class="nav-item">
        <a routerLink="company-list" class="nav-link" routerLinkActive="active">List All Companies</a>
      </li>
      <li class="nav-item">
        <a routerLink="show-company" class="nav-link" routerLinkActive="active">Company Search</a>
      </li>
    </ul>
  </nav>
  
  
  <div class="page-body"> 
    <div class="background-image"> 
    <br>
    <h2 style="text-align: center;">E-Stock Market</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2019 @E-Stock</span>
    </div>
  </footer>