.p-1{
    border-bottom: 1px solid #ebebeb;
    text-decoration: violet;
}
#bottomFooter{
    background-color: #031b2e;
}
#bottomFooter p{
    color:white;
}
.footer{
    
    position: relative;
}
.nav-link{
    font-size: large;
    font-weight: bold;
}
#bt{
    color: aliceblue;
    font-size:large;
    font-weight:bold
}