<div class="container" style="width: 400px;margin-top: 30px;">
  <form [formGroup]="searchForm"  (ngSubmit)="findCompany(code.value)">
    <div class="input-group input-group-lg">
      <input #code type="text" class="form-control" placeholder="Enter Company Code" formControlName="companycode">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" ><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</div>  

<div *ngIf="!!successmsg" style="margin-top: 50px;">
  <div  class="panel panel-primary" *ngIf="(company | keyvalue)?.length" >
    <div class="panel-heading">
      <h2>Companies List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Company CEO</th>
            <th>Company Code</th>
            <th>Turnover</th>
            <th>Website</th>
            <th>Company Name</th>
            <th>Stock Exchange</th>
            <th>Latest Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td *ngFor="let item of company | keyvalue">
                {{ item.value}}
              </td>
              <td>
                {{latestStockPrice}}
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>

 